.trending {
  margin-right: 120px;
    width: 20%;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .trending h5 {
    font-size: 16px;
    font-weight: bold;
  }
  
  .trending p {
    font-size: 14px;
    color: #555;
    margin: 10px 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
  }
  
  .trending p:last-child {
    border-bottom: none;
  }
  